from {{basePackage}}.dataEntity import DataEntity
from {{basePackage}}.listEntity import ListEntity
from {{basePackage}}.locatorEntity import LocatorEntity
from {{basePackage}}.paginatedEntity import PaginatedEntity