from enum import Enum


class ContentTypeEnum(Enum):
    JSON = 'application/json'
    XML = 'application/xml'
    TXT = 'text/plain'

class HeadersEnum(Enum):
    CONTENT_TYPE = 'Content-Type'
    ACCEPT = 'Accept'