{{#operations}}
{{#operation}}
{{#-first}}[//]: # (title: {{classname}})
[//]: # (auxiliary-id: {{classname}} method) {{/-first}}

## {{nickname}}

{{#summary}}{{{summary}}}{{/summary}}{{^summary}}The description will be available soon.{{/summary}}

<table>

<tr><td></td><td></td></tr>

<tr><td>

__Endpoint__

</td>

<td>

```Shell
{{path}}
```


</td></tr>

<tr><td>

__HTTP method__

</td>

<td>

```Shell
{{httpMethod}}
```

</td></tr>

{{#hasProduces}}<tr><td>

__Content type__

</td>

<td>

{{#produces}}
* `{{{mediaType}}}`
{{/produces}}

</td></tr>{{/hasProduces}}

{{#hasParams}}<tr><td>

__Parameters__

</td>

<td>

{{#allParams}}
* `{{#optional}}(optional) {{/optional}}{{baseName}}: {{{dataType}}}`
{{/allParams}}

</td></tr>{{/hasParams}}

{{#returnType}}<tr><td>

__Response__

</td>

<td>

`{{returnType}}`

</td></tr>

{{/returnType}}
</table>
{{/operation}}
{{/operations}}