<table>

<tr><td>Dimension</td><td>Data type</td><td>Format</td><td>Description</td></tr>

{{#vars}}
<tr><td>

`{{name}}`


</td>

<td>

`{{#isContainer}}List<{{complexType}}>{{/isContainer}}{{^isContainer}}{{{datatype}}}{{/isContainer}}`

</td>

<td>{{#dataFormat}}

`{{{dataFormat}}}`{{/dataFormat}}

</td>

<td>{{#vendorExtensions.x-description}}

{{{vendorExtensions.x-description}}}{{/vendorExtensions.x-description}}

</td></tr>
{{/vars}}
</table>