<table>

<tr><td>Dimension</td><td>Data type</td><td>Format</td><td>Description</td></tr>

{{#vars}}
<tr><td>

`{{name}}`


</td>

<td>

`{{#isContainer}}List<{{complexType}}>{{/isContainer}}{{^isContainer}}{{{datatype}}}{{/isContainer}}`

</td>

<td>{{#dataFormat}}

`{{{dataFormat}}}`{{/dataFormat}}

</td>

<td>{{#description}}

{{{description}}}{{/description}}
{{#hasEnums}}
{{#isEnum}}
Supported values: {{#allowableValues}}
{{#values}}
* `{{{.}}}`
{{/values}}
{{/allowableValues}}{{/isEnum}}
{{/hasEnums}}

</td></tr>
{{/vars}}
</table>