<table>

<tr><td>Field</td><td>Data type</td>{{#hasEnums}}<td>Allowed values</td>{{/hasEnums}}</tr>

{{#vars}}
<tr><td>

`{{name}}`


</td>

<td>

`{{#isContainer}}List<{{complexType}}>{{/isContainer}}{{^isContainer}}{{{datatype}}}{{/isContainer}}`

</td>{{#hasEnums}}

<td>

{{#isEnum}}{{#allowableValues}}
{{#values}}
* `{{{.}}}`
{{/values}}
{{/allowableValues}}{{/isEnum}}

</td>{{/hasEnums}}</tr>
{{/vars}}
</table>