{{#vars}}
### {{name}}

<tip>

<b>Data type:</b> <code>{{#isContainer}}List&lt;{{complexType}}&gt;{{/isContainer}}{{^isContainer}}{{{datatype}}}{{/isContainer}}</code><br/>
<b>Example:</b> <code>{{example}}</code>

</tip>

{{unescapedDescription}}

{{notes}}

{{/vars}}