<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE product-profile
        SYSTEM "https://resources.jetbrains.com/stardust/product-profile.dtd">
<product-profile id="tcr" name="TeamCity REST API Reference" start-page="teamcity-rest-api-documentation.md" status="release">
    <toc-element id="teamcity-rest-api-documentation.md" show-structure-for="chapter" show-structure-depth="4"/>
    <toc-element id="quick-start.md" show-structure-for="chapter" show-structure-depth="4"/>
    <toc-element toc-title="Common Use Cases">
        <toc-element id="manage-projects.md" show-structure-for="chapter" show-structure-depth="4" hidden="true"/>
        <toc-element toc-title="Manage Projects">
            <toc-element id="create-and-delete-projects.md" show-structure-for="chapter" show-structure-depth="4"/>
		    <toc-element id="get-project-details.md" show-structure-for="chapter" show-structure-depth="4"/>
            <toc-element id="edit-project-settings.md" show-structure-for="chapter" show-structure-depth="4"/>
		</toc-element>
        <toc-element id="manage-build-configurations.md" show-structure-for="chapter" show-structure-depth="4" hidden="true"/>
		<toc-element toc-title="Manage Build Configurations">
            <toc-element id="create-and-delete-build-configurations.md" show-structure-for="chapter" show-structure-depth="4"/>
		    <toc-element id="get-build-configuration-details.md" show-structure-for="chapter" show-structure-depth="4"/>
            <toc-element id="edit-build-configuration-settings.md" show-structure-for="chapter" show-structure-depth="4"/>
		</toc-element>
		<toc-element id="manage-typed-parameters.md" show-structure-for="chapter" show-structure-depth="4"/>
        <toc-element id="manage-vcs-roots.md" show-structure-for="chapter" show-structure-depth="4"/>
		<toc-element id="manage-tests-and-build-problems.md" show-structure-for="chapter" show-structure-depth="4"/>
		<toc-element id="manage-investigations.md" show-structure-for="chapter" show-structure-depth="4"/>
        <toc-element id="manage-builds.md" show-structure-for="chapter" show-structure-depth="4" hidden="true"/>
		<toc-element toc-title="Manage Builds">
            <toc-element id="start-and-cancel-builds.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="get-build-details.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="manage-finished-builds.md" show-structure-for="chapter" show-structure-depth="4"/>
            <toc-element id="get-build-statistics.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="get-build-status-icon.md" show-structure-for="chapter" show-structure-depth="4"/>
        </toc-element>
		<toc-element toc-title="Manage Users">
			<toc-element id="manage-users.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="manage-user-groups.md" show-structure-for="chapter" show-structure-depth="4"/>
        </toc-element>
		<toc-element toc-title="Manage Server">
			<toc-element id="manage-data-backup.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="get-audit-records.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="get-licensing-info.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="manage-2fa.md" show-structure-for="chapter" show-structure-depth="4"/>
        </toc-element>
		<toc-element toc-title="Manage Agents">
			<toc-element id="manage-agents.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="manage-agent-pools.md" show-structure-for="chapter" show-structure-depth="4"/>
			<toc-element id="manage-cloud-profiles.md" show-structure-for="chapter" show-structure-depth="4"/>
        </toc-element>
        <toc-element id="curl-examples.md" show-structure-for="chapter" show-structure-depth="4" hidden="true"/>
    </toc-element>
	<toc-element toc-title="Autogenerated REST API Reference">
        <toc-element toc-title="Models">
            {{#models}}
                {{#groupedModels}}
                    <toc-element toc-title="{{subpackage}}">
                    {{#models}}
                    {{#model}}
                        <toc-element id="{{classFilename}}.md" show-structure-for="chapter" show-structure-depth="4"/>
                    {{/model}}
                    {{/models}}
                    </toc-element>
                {{/groupedModels}}
                {{#ungroupedModels}}
                {{#model}}
                    <toc-element id="{{classFilename}}.md" show-structure-for="chapter" show-structure-depth="4"/>
                {{/model}}
                {{/ungroupedModels}}
            {{/models}}
        </toc-element>
        {{#models}}
            <toc-element toc-title="Locators">
                {{#locators}}
                    {{#models}}
                    {{#model}}
                        <toc-element id="{{classFilename}}.md" show-structure-for="chapter" show-structure-depth="4"/>
                    {{/model}}
                    {{/models}}
                {{/locators}}
            </toc-element>
        {{/models}}
        <toc-element toc-title="Methods">
            {{#apiInfo}}
                {{#apis}}
                    <toc-element id="{{classFilename}}.md" show-structure-for="chapter" show-structure-depth="4"/>
                {{/apis}}
            {{/apiInfo}}
        </toc-element>
    <toc-element toc-title="TeamCity Product Documentation" href="https://www.jetbrains.com/help/teamcity/teamcity-documentation.html"/>
</product-profile>
